<%- include('partials/header') %>

    <form action="/register" method="post">
        <label for="email">Mail</label>
        <input name="email" type="text">  
        <label  for="password">Password</label>
        <input name="password" type="text">
        <button type="submit">Gonder</button>

    </form>
    
<%- include('partials/footer') %>